[Unit]
Description=Prometheus zfs exporter for machine metrics
Documentation=https://github.com/waitingsong/zfs_exporter/
After=network.target

[Service]
EnvironmentFile=-/etc/default/zfs_exporter
User=root
ExecStart=/usr/bin/zfs_exporter $ZFS_EXPORTER_OPTS
Restart=on-failure
RestartSec=5s

# deprecated
MemoryLimit=200M

CPUQuota=30%
MemoryMax=200M

[Install]
WantedBy=multi-user.target