[Unit]
Description=Prometheus exporter for PostgreSQL/Pgbouncer server metrics
Documentation=https://github.com/Vonng/pgbackrest_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/pgbackrest_exporter
User={{ pg_dbsu|default('postgres') }}
ExecStart=/usr/bin/pgbackrest_exporter $PGBACKREST_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target